body{
  background-color:white;
  margin-left: 100px;
}

#chartarea {
  background-color: red;
  padding-left:50px;

}

.bar{
  /*fill:white;*/
  display:inline-block;
  margin-right:2px;
  /*width:5px;*/
}

.axis path, .axis line{
  stroke: black;
  stroke-width:1px;
  shape-rendering: crispEdges;
}
